/*SITEWIDE*/

* {
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(0deg, rgb(76, 28, 165) 0%, rgba(237,245,249,1) 63%);
}

/*NAV BAR - HIGHSCORES & TIME*/
header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: rgb(59, 3, 59);
  color: violet; 
  text-decoration: none;
  
}

.highscores:link, .highscores:visited, .highscores:active {
    text-decoration: none;
}

.highscores {
  text-decoration: none;
  
}

.highscores:hover {
  color: white;
}

header div {
  padding: 20px;
  font-size: 1em;
}

.timer {
  text-decoration: none;
}
/*EVERYTHING BELOW NAVBAR*/
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*START PAGE CONTENT*/

.container {
  padding: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.questions {
  justify-content: center;
  margin: 10px;
  align-items: center;
}

#start {
  font-size: 2em;
  justify-content: center;
  margin: 10px;
}

button {
  background-color: rgb(59, 3, 59);
  color: white;
}

/*QUIZ STARTED - QUIZ QUESTIONS*/

.card-title {
  margin-bottom: 10px;
}

ul {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul li {
  background: rgb(59, 3, 59);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: white;
}

ul li:hover {
  opacity: 50%;
}

ul li:active {
  background: violet;
}





