/*SITEWIDE*/

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(0deg, rgb(76, 28, 165) 0%, rgba(237,245,249,1) 63%);
}

/*NAV BAR - HIGHSCORES & TIME*/
header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: rgb(59, 3, 59);
  color: #fff; 
}

header div {
  padding: 20px;
  font-size: 1em;
}

/*EVERYTHING BELOW NAVBAR*/
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*START PAGE CONTENT*/

.container {
  padding: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#start {
  font-size: 2em;
  justify-content: center;
  margin: 10px;
}

/*QUIZ STARTED - QUIZ QUESTIONS*/

.card-title {
  margin-bottom: 10px;
}

button {
  background-color: rgb(59, 3, 59);
  color: white;
}





